<footer>
  <p class="footerLink"><a href="https://github.com/kscott2016/travel-bucket" target="_blank">View this project on <i class="fa-brands fa-github"></i> GitHub</a></p>
  <p class="footerLink"><a href="https://www.linkedin.com/in/krystina-scott-b0458b50/" target="_blank">Connect with me on <i class="fa-brands fa-linkedin"></i> LinkedIn</a>!</p>
</footer>
</body>
</html>
