  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div>
      <% if (user) { %>
        <a href="/trips" class="navBtn" onclick="buttonStatusChange()">Trips Dashboard</a>
        <a href="/trips/new" class="navBtn">Create a trip</a>
        <a href="/auth/logout" class="navBtn">
        Logout</a>
      <% } %>

    </div>
  </nav>