  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div>
      <% if (user) { %>
        <a href="/trips" class="navBtn <%= title === 'Your trips' ? 'activeNavBtn' : '' %>" onclick="buttonStatusChange()">Trips Dashboard</a>
        <a href="/trips/new" class="navBtn <%= title === 'Add Trip' ? 'activeNavBtn' : '' %>">Create a trip</a>
        <a href="/auth/logout" class="navBtn <%= title === 'Add Movie' ? 'activeNavBtn' : '' %>">
        Logout</a>
      <% } %>

    </div>
  </nav>