#trip-form, #activity-form{
  background-color: #eaeaea;
  padding:20px 60px;
  max-width: 80%;
  margin-top: 20px;
}

h1{
  margin:20px 0px;
}

.formRow{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formItem{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 1.5em;
  margin: 10px 0;
}

input, select{
  width:100%;
  padding:5px 20px;
}

div.seperator{
  border:solid 2px #1fb1b1 !important;
  width:80%;
  margin:10px 0;
}

.submitBtn{
  background-color: #00bcd4;
  color: #000;
  text-decoration: none;
  padding:10px 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 20px;

}

.submitBtn>button{
  background-color: transparent;
  border:transparent;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif !important;
  font-size:16px !important;
  font-weight:bold !important;
  margin-top:0;
  text-align: center;
}
