nav {
  
  background-color: #1fb1b1;
  color: #1a1a1a;
  padding: 10px;
  min-height: 60px;
  height:10vh;
}

nav>div{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav>div>a{
  background-color:#fff;
  color:#000;
  text-decoration: none;
  padding:10px 20px;
  margin:10px 20px;
  box-shadow:2px 2px 4px #00000056;
}

/* nav>div>a:hover{

  margin-top:-2px;
  animation-delay: 3s;
} */

nav>div>a:hover,
navBtn:hover,
nav>div>a:focus,
navBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}