html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #000000;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}


main {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  min-height:80vh;
  height:100%;
}

.subtitle{
  font-size:1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  margin: 0px;
}

h2{
  font-size: 2.25em;
  background-color: #ff9000;
  color: #FFF;
  width: fit-content;
  padding:10px 30px;
}

p{
  font-size: 1.25em;
}

div.welcomeArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  height:80vh;
  width: 100%;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff8b00' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

div.videoContainer, div.tripContainer{
  position: relative;
  overflow: hidden;
  width:40%;
 
  /* width: 100%; */
  /* height: 100vh; */
  /* height: 100%; */
}

#vacationVideo{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

div.welcomeMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:60%;
}

div.tripsContainer>ul{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}

div.tripCard{
  display: inherit;
  flex-direction: column;
  padding:20px;
  margin:20px;
  background-color: rgb(241, 241, 241);
  min-height: 400px;
  position: relative;
}

.flag{
	position: absolute;
	font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
	left:0;
	top:10px;
	display: flex;
  justify-content: center;
  align-items: center;
	height: 30px;
	line-height: auto;
  background-color: #01afcd;
  border-radius: 0px 40px 40px 0;
	color: #FFF;
	padding: 0px 10px 0 10px;
	z-index:1;
  text-shadow: 1px 1px 1px #000000b8;
  
  &:after{
    position: absolute;
    right:-5px;
    top:0;
  }
}

img.tripImg{
  height:200px;
}

div.tripContent>h3{

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.75em;
}

div.tripContent{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.tripContent>h3, div.tripContent>h4{

  margin:10px;

}

div.tripContent>h4{
  font-size: 1.5em;
}

div.statusChange{
  display:flex;
  flex-direction: row;
  gap:20px;
  margin-top: 20px;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif !important;
  font-size:16px !important;
  font-weight:bold !important;

}

div.tripStatusChange{
  display:flex;
  flex-direction: row;
  gap:20px;
  margin-top: 50px;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif !important;
  font-size:16px !important;
  font-weight:bold !important;

}

a.tripDetailsBtn, a.homeBtn{
  background-color:#ff9000;
  color: #000;
  text-decoration: none;
  padding:10px 20px;
}

a.homeBtn{
  font-size:1.25em;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif !important;
  font-weight:bold !important;

}

.icon{
  margin: 5px;
}

.tripDeleteBtn{
  background-color: #ea1515;
  color: #000;
  text-decoration: none;
  padding:10px 20px;
}

.tripDeleteBtn>form>button{
  background-color: transparent;
  border:transparent;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif !important;
  font-size:16px !important;
  font-weight:bold !important;
}

main.tripContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

div.topInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

div.iconContainer{
  background-color: #fff;
  height: 100%;
  display:flex;
  align-items: center;
  padding:10px;
  border:solid 4px #00bcd4;
  i{
    color:#00bcd4;
    font-size: 1.75em;
  }
}

div.tripDates{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-image: linear-gradient(#00bcd4, #038495);
  background-size: cover; 
  padding:0px 10px 0px 0;
  width:fit-content;
  height:fit-content;
  color: #fff;
  
}

div.tripLocation{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width:100%;
  justify-content: flex-start;
  align-items: center;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-image: linear-gradient(#00bcd4, #038495);
  background-size: cover; 
  padding:0px 10px 0px 0;
  width:fit-content;
  height:fit-content;
  color: #fff;
}


div.tripPicContainer{
  width: 30%;
  height: 100vh;
}

img.tripPic{

  object-fit: cover;
  width: 100%;
  height: inherit;
  border-right: 10px solid rgb(255, 102, 0);
}

div.tripDetails{

  width:70%;
  padding: 3em 5em;
}

/*ACTIVITIES*/

div.activitiesContainer{
  background-color: #f7f3f3;
  padding-bottom: 20px;
}

ul.activitiesList{
  padding-left: 0;
  margin-bottom:20px;
}

li.activityListItem{
  list-style: none;
  margin:20px 0;
}

div.activityCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  background-color: #ffffff;
  width:fit-content;
  padding-right:30px;
  border:solid 1px #ff9000;
}

div.activityCategory{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ff9000;
  color:#fff;
  padding: 20px 10px;
  gap:20px;
  p{
    margin:0;
    font-size:0.75em;
  }

  i{
    font-size: 1.5em;
  }

}

span.activityName{
  font-size: 1.25em;
}

div.activityOptions{

  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap:30px;
}

div.addActivitiesDiv{

  margin-top: 40px;
}

a.activitiesBtn{
  background-color: #01afcd;
  color: #000;
  text-decoration: none;
  padding:10px 20px;
  font-weight: bold;
  
}

a:hover,
a:focus
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

footer{
  padding:30px;
  background-color:  #1fb1b1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap:20px;
  height:10vh;
}

.footerLink{
  color:#fff;
  font-weight: bold;
  text-decoration: none;

  a{
    text-decoration: none;
    color: #fff;
  }
}

.footerLink:hover,
.footerLink:hover>a,
.footerLink:focus,
.footerLink:focus>a{
transform: translateY(-0.25em);
color:#f5c88e;
}

