<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="tripForm">
  <% if (user) { %>
  <h1>Create a Trip</h1>
    <form id="trip-form" action="/trips" method="POST">
      <div class="formRow">
        <div class="formItem">
          <label for="tripName">Name of trip:</label>
          <input type="text" name="name" id="tripName">
        </div>
        <div class="formItem">
          <label for="tripCity">Where would you like to travel?</label>
          <input type="text" name="city" id="tripCity">
        </div>
      </div>
      <div class="formRow">
        <div class="formItem">
          <label for="tripStart">When do you plan to travel?</label>
          <input type="date" name="tripStart" id="tripStart">
      </div>
      <div class="formItem">
          <label for="tripEnd">When do you plan to return?</label>
          <input type="date" name="tripEnd" id="tripEnd">
      </div>
      <div class="formRow">
        <div class="formItem">
          <label for="tripImg">Add a trip image</label>
          <input type="text" id="tripImg" name="imgUrl" value="<%= defaultImg %>">
        </div>
      </div>
      <button type="submit">Add Trip</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>